.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.custom-button {
    background-color: #DDDDDD;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    color: #555;
}